<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        pre {
          font-family: "Courier New", Courier, monospace;
        }
  </style>
</head>
<body>
    <pre>
     ______
 ___|\   ___\
|\__\ \  \__|
\|__|\ \  \
    __\ \  \____
   |\__\ \______\
   \|__|\|______|

 ___  ________   _________  _______   ________  ________   ________  ___
|\  \|\   ___  \|\___   ___\\  ___ \ |\   __  \|\   ___  \|\   __  \|\  \
\ \  \ \  \\ \  \|___ \  \_\ \   __/|\ \  \|\  \ \  \\ \  \ \  \|\  \ \  \
 \ \  \ \  \\ \  \   \ \  \ \ \  \_|/_\ \   _  _\ \  \\ \  \ \   __  \ \  \
  \ \  \ \  \\ \  \   \ \  \ \ \  \_|\ \ \  \\  \\ \  \\ \  \ \  \ \  \ \  \____
   \ \__\ \__\\ \__\   \ \__\ \ \_______\ \__\\ _\\ \__\\ \__\ \__\ \__\ \_______\
    \|__|\|__| \|__|    \|__|  \|_______|\|__|\|__|\|__| \|__|\|__|\|__|\|_______|

 ________  _______   ________  ___      ___ _______   ________
|\   ____\|\  ___ \ |\   __  \|\  \    /  /|\  ___ \ |\   __  \
\ \  \___|\ \   __/|\ \  \|\  \ \  \  /  / | \   __/|\ \  \|\  \
 \ \_____  \ \  \_|/_\ \   _  _\ \  \/  / / \ \  \_|/_\ \   _  _\
  \|____|\  \ \  \_|\ \ \  \\  \\ \    / /   \ \  \_|\ \ \  \\  \|
    ____\_\  \ \_______\ \__\\ _\\ \__/ /     \ \_______\ \__\\ _\
   |\_________\|_______|\|__|\|__|\|__|/       \|_______|\|__|\|__|
   \|_________|

 _______   ________  ________  ________  ________
|\  ___ \ |\   __  \|\   __  \|\   __  \|\   __  \
\ \   __/|\ \  \|\  \ \  \|\  \ \  \|\  \ \  \|\  \
 \ \  \_|/_\ \   _  _\ \   _  _\ \  \\\  \ \   _  _\
  \ \  \_|\ \ \  \\  \\ \  \\  \\ \  \\\  \ \  \\  \|
   \ \_______\ \__\\ _\\ \__\\ _\\ \_______\ \__\\ _\
    \|_______|\|__|\|__|\|__|\|__|\|_______|\|__|\|__|
    </pre>
</body>
</html>